
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/development.services.yml
/web/sites/*/services.yml

/web/sites/default/*

/drush/Commands/contrib/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/private/scripts/quicksilver


/vendor/

/.editorconfig
/.gitattributes

/.drush-lock-update

/web/**/.gitignore



node_modules/